<h1><em> Welcome to Wildlife Tracker!!!</em></h1>


<img src="http://www.washingtonpost.com/blogs/going-out-guide/files/2013/12/goat.jpg" alt="A goat">
<img src="http://www.peggymihelich.com/wp-content/uploads/2012/03/narwhal-carousel.jpg" alt="A narwhale">
<img src="http://i.telegraph.co.uk/multimedia/archive/02159/giraffe_2159603b.jpg">

<p><a href="/animals" class="btn btn-success"> View Animals </a><p>
