<h1> <%= @animal.name %> deleted! </h1>
<p> Would you like to <a href="/animals" class="btn btn-warning"> see all the animals</a>, or <a href="/animals/new" class="btn btn-warning"> create a new one</a>?</p>
