<h1> New animal</h1>

<%= render('layouts/errors', :object => @animal) %>

<form action="/animals" method="post">
  <label for="animal_name">Name</label>
  <input id="animal_name" name ="name" type="text">
  <button class="btn btn-success"> Create animal</button>
</form>

<p><a href="/animals" class="btn btn-danger">Return to animals</a></p>

