<h1> New animal</h1>

<%= render('layouts/errors', :object => @animal) %>

<form action="/animals" method="post">
  <%= render('form') %>
  <button class="btn btn-success"> Create animal</button>
</form>

<p><a href="/animals" class="btn btn-danger">Return to animals</a></p>

