<h1><%=@animal.name%> saved!</h1>
<p> Your animal was successfully saved.</p>

<p><a href="/animals/<%= @animal.id%>" class="btn btn-primary">View <%=@animal.name%></a></p>
<p><a href="/animals" class="btn btn-success">Return to animal listing</a></p>

