<h1><%=@animal.name%> saved!</h1>
<p> Your animal was successfully saved.</p>

<p><a href="/animals/<%= @animal.id%>">View <%=@animal.name%></a></p>
<p><a href="/animals">Return to animal listing</a></p>

