<h1> <%=@region.name %> deleted! </h1>
<p> Would you like to <a href="/regions" class="btn btn-warning">see all the regions</a>. or <a href="/regions/new" class="btn btn-warning">create a new one</a>?</p>
