<h1> New region</h1>

<%= render('layouts/errors', :object => @region) %>

<form action="/regions" method="post">
  <label for="region_name">Name</label>
  <input id="region_name" name="name" type="text">
  <button class="btn btn-success"> Create region</button>
</form>

<p><a href="/regions" class="btn btn-danger"> Return to regions</a></p>
