<h1> New region</h1>

<%= render('layouts/errors', :object => @region) %>

<form action="/regions" method="post">
  <%= render('form') %>
  <button class="btn btn-success"> Create region</button>
</form>

<p><a href="/regions" class="btn btn-danger"> Return to regions</a></p>
