<h1><%= @region.name %></h1>

<p><a href="/regions/<%=@region.id %>"
  data-confirm="You sure?"
  data-method="delete"
  rel="nofollow" class="btn btn-primary">Delete</a></p>

<p><a href="/regions/<%= @region.id %>/edit" class="btn btn-success">Edit</a></p>
<p><a href="/regions" class="btn btn-info"> Return to regions</a></p>
