<h1><%=@region.name%> saved! </h1>
<p> Your region was sucessfully saved.</p>

<p><a href="/regions/<%= @region.id%>" class="btn btn-primary">View <%=@region.name%></a></p>
<p><a href="/regions" class="btn btn-success">Return to region listing</a></p>

